<div class="row">
	<div class="span8">
		<h3>Student Details</h3>
		<%= render :partial => "student_details" %>
	</div>
	<div class="span4">
	  <h3>User Info</h3>
	  <% if @user.nil? %>
	  	<p>No User for this Student</p>
	  	<%= link_to(raw("<i class='icon-plus icon-white'></i> Create User"), new_user_path(:id => @student.id, :from => 'student'), :class => 'btn btn-primary') %>
	  <% else %>
			<%= render :partial => "user_details"%>
		<% end %>

	</div>
</div>
<div class="row">
	<div class="span8">
	  <h3>Tournament Activity</h3>
	 	<% if @registrations.empty? %>
	  	<p>No Tournament History for this Student</p>
	  	<%= link_to(raw("<i class='icon-plus icon-white'></i> New registration"), new_registration_path(:id => @student.id, :from => 'student'), :class => 'btn btn-primary') %>
	  <% else %>
			<%= render :partial => "partials/activities" %>
		<% end %>
	</div>

	<div class="span4">
		<h3>Dojo History</h3>
		<% if @dojo_history.empty? %>
	  	<p>No Dojo History for this Student</p>
	  	<%= link_to(raw("<i class='icon-plus icon-white'></i> New Dojo"), new_dojo_student_path(:id => @student.id, :from => 'student'), :class => 'btn btn-primary') %>
	  <% else %>
			<%= render :partial => "partials/dojo_history" %>
			<%= link_to(raw("<i class='icon-plus icon-white'></i> New Dojo"), new_dojo_student_path(:id => @student.id, :from => 'student'), :class => 'btn btn-primary') %>
		<% end %>
	</div>
</div>

<div class="form-actions">
  <%= link_to raw("<i class='icon-list'></i> Display All Students"), students_path, :class => 'btn'  %>&nbsp;&nbsp;
  <%= link_to raw("<i class='icon-pencil'></i> Edit #{@student.proper_name}"), edit_student_path(@student), :class => 'btn' %>&nbsp;&nbsp;
  <% if current_user.is_admin? %>
  	<%= link_to raw("<i class='icon-remove icon-white'></i> Delete #{@student.proper_name}"), student_path(@student), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  <% end %>
</div>