<h4>Waiverless Students</h4>
<% if @needswaiver.empty? %>
  <p>All Students have signed their waiver!</p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Student</th>
        <th>Dojo</th>
        <th>Phone</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @needswaiver.each do |st| %>
        <tr>
          <td><%= link_to st.proper_name, student_path(st.id) %></td>
          <td><%= st.date_of_birth.strftime('%m/%d/%y') %></td>
          <td><%= number_to_phone(st.phone) %></td>
          <td>
            <%= link_to raw("<i class='icon-ok icon-white'></i></i>Signed"), waiver_signed_path(st), :class => 'btn btn-mini btn-success' %>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @registrations, :previous_label => "Previous", :next_label => "Next", :param_name => "reg_page" %>
<% end %>