<% if current_user && current_user.is_admin? %>
  <h4>Welcome <%= current_user.student.nil? ? "Admin" : current_user.student.proper_name %></h4>
  <%= render :partial => "admin_home" %>
<% elsif current_user && current_user.is_member? # for future proofing %>
  <h4>Welcome <%= current_user.student.nil? ? "" : current_user.student.proper_name %></h4>
  <%= render :partial => "general_home" %>
<% else %>
  <%= render :partial => "general_home" %>
<% end %>