<%= simple_form_for @registration, :html => { :class => 'form' } do |f| %>
  <div class="pulls">
    <div class="pull-left">	
  		<%= f.input :student_id, :label => 'Register a student for this section:', :collection => eligible_unregistered_students_for_section(@section), :html => { :class => 'form-inline' } %>
    </div>
    <div class="pull-right">
        <%= f.input :fee_paid, :label => "Paid?", :html => { :class => 'form-inline' } %>
    </div>
  </div>
  <%= f.input :section_id, :as => :hidden, :input_html => { :value => @section.id } %>
  <%= f.submit nil, :class => 'btn btn-primary' %>  
<% end %>