<p>
	<b>Event:</b> <%= @section.event.name %>
</p>

<p>
  <b>Rank(s):</b> 
  <%= rank_range_for(@section) %>
</p>

<p>
  <b>Age(s):</b> 
  <%= age_range_for(@section) %>
</p>

<p>
  <b>Round Time:</b>
  <% if @section.round_time.nil? %>
    unset
  <% else %>
    <%= @section.round_time.strf('%H:%M %d/%m/%y ') %>
  <% end %>
</p>

<p>
  <b>Location:</b>
  <%= @section.location %>
</p>

<p>
  <b>Active:</b> <%= @section.active ? "Yes" : "No" %>
</p>