<%= simple_form_for @registration, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Registration</legend>
    
    <p><b>Tournament: </b><%= @registration.tournament.name %></p>
    <p><b>Event: </b><%= @registration.event.name+", "+rank_range_for(@registration.section) %></p>
    <p><b>Contestant: </b><%= @registration.student.proper_name+", "+rank_name(@registration.student.rank) %></p>
    
    <% if current_user.is_admin? %>
      <%= f.input :final_standing %>
    <% end %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', sections_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>